.button{
    float: left;
    margin-left: 2px;
    margin-top: 2px;
    background: rgba(255, 255, 255, 0.068);
    width: 30px;
    height: 20px;
    padding: 8px;
    display: inline;
    border-radius: 5px;
    color: white;
    text-align: center;
    cursor: pointer;
}

.button:hover{
    background: rgba(255, 255, 255, 0.101);
}

.button2{
    background-color: rgba(255, 255, 255, 0.145);
}
.button2:hover{
    background-color: rgba(255, 255, 255, 0.175);
}
.button3{
    background-color: rgba(140, 65, 65, 0.267);
}
.button3:hover{
    background-color: rgba(140, 65, 65, 0.353);
}
.button4{
    background-color:#ffb0b0;
}
.button4:hover{
    background-color:#ffa0a0;
}
.button:active{
    background-color: rgb(0, 204, 255);
}
.button4:active{
    background-color:#ff8c8c;
}
